
/* style for header */

#header_row {
  height:10vh;
  min-height:60px;
  background-color: #cab2d6;
  position: relative;
  margin-bottom: 4.7vh;
}

#logo {
  float:right;
  margin-left:auto;
  margin-right:20px;
  width:10vh;
  height:10vh;
  min-width: 60px;
  min-height: 60px;
  border: 1px solid green;
}

#logout {
  max-width: 90px;
  max-height: 28px;
  min-width: 75px;
  min-height: 23px;
  width: 13vh;
  height: 3.4vh;
  font-size: max(1.7vh, 1rem);
  opacity: 0.7;
  margin-left: 10px;
}

.logowrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.userwrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: max(3.4vh, 1.4rem)
}

/* style for lobby.js */
.main_display {
  width: 50%;
  height: 300px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid gray;
  overflow: auto;
}

.roomli {
  height: 30px;
  font-size: 1.2rem;
  margin: 5px;
  position: relative;
}

.floater {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
}

.descriptor {
  z-index:2;
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left: 0;
}

.button_row {
  width: 50%;
  max-width: 750px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
 
.button_row:after {
  clear: both;
  content: "";
  display: table;
}
.ctrl {
  width: 31%; 
  height: 100%;
  min-width: 200px;
  float: left;
  font-size: 1rem;
  margin: 5px;
}
/* style for game.js */
.gridrow:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  width: 50px;
  height: 50px;
  float: left;
}

.resource {
  width: 36px;
  height: 36px;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.chesspiece {
  width: 37px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.ctrl_column {
  width: 150px;
  padding-top: 280px;
  margin-left: 10px;
}

.gamectrl {
  width: 150px;
  height: 50px;
  margin-top: 30px;
}

/* style for login */
#loginBox {
  width:300px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  background-color: lightgray;
}

.entry {
  width:150px;
  height:20px;
  margin-bottom:70px;
  font-size:20px;
  padding:10px;
}

input {
  font-size:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

