
/* style for header */

#header_row {
  height:10vh;
  min-height:60px;
  background-color: #cab2d6;
  position: relative;
  margin-bottom: 5vh;
}

#logo {
  float:right;
  margin-left:auto;
  margin-right:1vw;
  width:10vh;
  height:10vh;
  min-width: 60px;
  min-height: 60px;
  border: 1px solid green;
}

#logout {
  max-width: 90px;
  max-height: 28px;
  min-width: 75px;
  min-height: 23px;
  width: 13vh;
  height: 3.4vh;
  font-size: max(1.7vh, 1rem);
  opacity: 0.7;
  margin-left: 10px;
}

.logowrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.userwrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: max(3.4vh, 1.4rem)
}

/* style for lobby.js */
.main_display {
  width: 50%;
  height: 50vh;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid gray;
  overflow: auto;
}

.roomli {
  height: 30px;
  font-size: 1.4rem;
  margin: 5px;
  position: relative;
}

.floater {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
}

.descriptor {
  z-index:2;
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left: 0;
}

.button_row {
  width: 50%;
  max-width: 750px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
 
.button_row:after {
  clear: both;
  content: "";
  display: table;
}

.ctrl {
  width: 31%; 
  height: 100%;
  min-width: 200px;
  float: left;
  font-size: 1rem;
  margin: 5px;
}

/* style for game.js */
.gridrow:after {
  content: "";
  display: table;
}

.square {
  width: 12.5%;
  min-height: 100%;
  float: left;
}

.chessboard {
  width: 64vh;
  height: 64vh;
}

.chesspiece {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.metabox {
  width: 32vh;
  height: 100%;
  background-color: #386cb0
}

.gamecontainer {
  width: 96vh;
  height: 70.6vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.resourcebar {
  width: 64vh;
  height: 6.4vh;
  display: flex;
  background-color: rgba(0, 0, 255, 0.2);
}

.resource {
  width: calc(10% - 4px);
  height: calc(100% - 4px);
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.info {
  width: 90%;
  height: 2rem;
  margin: 5%;
  padding: 2%;
  box-sizing: border-box;
  font-size: 1rem;
}

.online {
  background-color: #ccebc5;
}

.offline {
  background-color: #fbb4ae;
}

.ready {
  width: 90%;
  height: 4rem;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
}

.console {
  width: 90%;
  height: calc(59.4vh - 16rem);
  background-color: lightgray;
  margin: 5%;
}

.gamectrl {
  width: 90%;
  margin: 5%;
  height: 4rem;
  display: flex;
}

.draw {
  width: 4rem;
  height: 4rem;
  background-color: darkgray;
  margin-left: 5%;
  font-size: 2rem;
}

.resign {
  width: 4rem;
  height: 4rem;
  background-color: darkgray;
  margin-left: auto;
  margin-right: 5%;
  float: right;
}

.resignhover {
  background-color: #dd4400;
  color: #eee;
}

.drawhover {
  background-color: #669922;
  color: #eee;
}
/* style for login */
#loginBox {
  width:300px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  background-color: lightgray;
}

.entry {
  width:150px;
  height:20px;
  margin-bottom:70px;
  font-size:20px;
  padding:10px;
}

input {
  font-size:20px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

